<div class="home_div absolute top-2/4 left-1/2 mt-[80px]">
  <div class="flex justify-between flex-wrap random">
    <div class="common_style">
      <div class="container relative">
        <img src="img" src="../../assets/asp.net-core-logo.png" class="image" />
        <div class="middle">
          <a
            class="text"
            href="https://github.com/Gvantsa19/Book-Store"
            target="_blank"
            ><i class="fa fa-link" aria-hidden="true"></i
          ></a>
        </div>
      </div>
      <p class="text-white capitalize text-[18px] mt-[15px]">
        online books store, where user can buy, save favourite books. register
        on site and download pdf books. this project is made with .net core 6
        and mssql, entity framework, dapper.
      </p>
    </div>

    <div class="common_style">
      <div class="container relative">
        <img src="img" src="../../assets/Nestjs_hero1.png" class="image" />
        <div class="middle">
          <a
            class="text"
            href="https://github.com/Gvantsa19/Delivery-Application"
            target="_blank"
            ><i class="fa fa-link" aria-hidden="true"></i
          ></a>
        </div>
      </div>
      <p class="text-white capitalize text-[18px] mt-[15px]">
        delivery application is created with nest.js, typescript and jwt. this
        is the first project that i made, when i started learning backend.
      </p>
    </div>

    <div class="common_style">
      <div class="container relative">
        <img src="../../assets/1_2xsLeLNqKwIoGOQlw8O6Ug.png" class="image" />
        <div class="middle">
          <a
            class="text"
            href="https://gvantsa19.github.io/MI-Cafe/"
            target="_blank"
            ><i class="fa fa-link" aria-hidden="true"></i
          ></a>
        </div>
      </div>
      <p class="text-white capitalize text-[18px] mt-[15px]">
        mi cafe is frontend project, created native html, css/scss and
        javascript.
      </p>
    </div>

    <div class="common_style">
      <div class="container relative">
        <img
          src="img"
          src="../../assets/1_2xsLeLNqKwIoGOQlw8O6Ug.png"
          class="image"
        />
        <div class="middle">
          <a
            class="text"
            href="https://gvantsa19.github.io/vakhtang-alexi-matchavariani/#eng"
            target="_blank"
            ><i class="fa fa-link" aria-hidden="true"></i
          ></a>
        </div>
      </div>
      <p class="text-white capitalize text-[18px] mt-[15px]">
        vakhtang-alexi-matchavariani is frontend project, created native html,
        css/scss and javascript.
      </p>
    </div>

    <div class="common_style">
      <div class="container relative">
        <img src="img" src="../../assets/umbraco_social_og.png" class="image" />
        <div class="middle">
          <a
            class="text"
            href="https://github.com/Gvantsa19/Portfolio-With-Umbraco"
            target="_blank"
            ><i class="fa fa-link" aria-hidden="true"></i
          ></a>
        </div>
      </div>
      <p class="text-white capitalize text-[18px] mt-[15px]">
        Portfolio With Umbraco 10.
      </p>
    </div>
  </div>
</div>
