<div class="main">
  <div class="home_div absolute top-2/4 left-1/2">
    <h1 class="mb-[35px]"><a class="text-white text-[32px]">Gvantsa Okropiridze</a></h1>
    <h2 class="text-white mb-[35px] capitalize text-[22px]">
      passionate job seeker with strong organizational skills eager to secure
      entry-level
      <span class="pb-2" style="border-bottom: 2px solid #0ea5e9"
        >full-stack developer.</span
      >
      Ready to help team achieve company goals.
    </h2>
    <div>
      <a
        class="text-white mr-[15px] text-[28px]"
        href="https://github.com/Gvantsa19?tab=repositories"
        ><i class="fa fa-github" aria-hidden="true"></i
      ></a>
      <a
        class="text-white text-[28px]"
        href="https://www.linkedin.com/in/gvantsa-okropiridze-797540201/"
        ><i class="fa fa-linkedin-square" aria-hidden="true"></i
      ></a>
    </div>
  </div>
</div>
